.skills {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* SKILLS WRAPPER */
.skills-wrapper {
  position: relative;
  margin: 60px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
  min-height: 500px;
  background-color: var(--fourth-color);
  border-radius: 10px;
  color: var(--second-color);
}

.skills-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.skills-header .skills-language {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
}

.skills-language .skills-button-language {
  flex-grow: 1;
  flex-basis: 33%;
  font-size: 1em;
  padding: 5px;
  background-color: var(--third-color);
  color: var(--second-color);
  border: none;
  transition: 0.3s;
}

.skills-language .skills-button-language:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.skills-language .skills-button-language.active {
  background-color: var(--main-color);
}

.skills-header .skills-type {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 10px 0;
}

.skills-type .skills-button-type {
  flex-grow: 1;
  flex-basis: 33%;
  font-size: 1em;
  padding: 5px;
  background-color: var(--third-color);
  color: var(--second-color);
  border: none;
  transition: 0.3s;
}

.skills-type .skills-button-type:hover {
  background-color: var(--first-color);
  cursor: pointer;
}
.skills-type .skills-button-type.active {
  background-color: var(--first-color);
}

.skills-wrapper .skills-body {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content::-webkit-scrollbar {
  width: 0.4em;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  outline: none;
  border-radius: 5px;
}

.skills-body .content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: var(--third-color);
  box-shadow: inset 0 0 5px 1px #121212;
  margin: 10px 0;
  max-height: 400px;
  overflow-y: auto;
}

.content .inner-side {
  margin: 15px 0 35px 0;
  width: 100%;
  text-align: center;
}

.content .inner-h3 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 50px;
  background-color: #121212;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-color);
}

.content .inner-side .text{
  font-family: "Lato", sans-serif;
  line-height: 1.4em;
  width: 80%;
  padding: 10px 0;
  margin: auto;
  text-align: left;
}

.content .inner-side .h4-title {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto 10px auto;
  padding-bottom: 10px;
  color: var(--main-color);
  border-bottom: 1px solid var(--first-color);
}

.content .inner-side .text .inner-text-span::before{
  content: '\2022';
  color: var(--first-color);
  margin-right: 10px;
  font-size: 1.4em;
}

@media (min-width: 1025px) {
  .skills {
    width: 100%;
    min-height: 30vh;
  }
  .skills-wrapper .skills-body {
    flex-direction: row;
  }

  .skills-body .content {
    margin: 10px;
  }
}
