html{
    --menuBurgerSize: 4px;
}

body {
    min-height: 200vh;
}

.wrapper {
    margin: 10px 70px;
}

.wrapper p {
    font-size: 18px;
    line-height: 200%;
}

.burger {
    position: fixed;
    width: 30px;
    height: 26px;
    top: 30px;
    right: 30px;
    font-size: 50px;
    z-index: 1;
}

.burger span{
    display: block;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: var(--menuBurgerSize);
    border-radius: 4px;
    transition: .2s linear, left .2s .2s linear;
}

.burger span:nth-child(1){
    top: 0;
    left: 0;
}

.burger span:nth-child(2){
    top: calc(50% - (var(--menuBurgerSize)/2));
    left: 0;
}

.burger span:nth-child(3){
    bottom: 0;
    left: 0;
}

.burger.active > span{
    background-color: white;
    width: 75%;
    transform-origin: 50% 50%;
}

.burger.active span:nth-child(1){
    transform: rotate(45deg);
    top: calc(50% - (var(--menuBurgerSize)/2));
    left: 25%;
}

.burger.active span:nth-child(2){
    transform: rotate(45deg);
    top: calc(50% - (var(--menuBurgerSize)/2));
    left: 25%;
}

.burger.active span:nth-child(3){
    transform: rotate(-45deg);
    bottom: calc(50% - (var(--menuBurgerSize)/2));
    left: -25%;
}

.burger:hover{
    cursor: pointer;
}

nav {
    position: fixed;
    left: 0;
    /* right: 0; */
    width: 100%;
    top: 0;
    height: 30vh;
    background-color: #000;
    transition: .2s;
}

nav.off {
    top: -300px;
}