<%- include("header") -%>
<%- include("navbar") -%>
<section class="sections">
    <h1>Anything about me!</h1>
    <p>My name is Patryk Szczerbiński. Welcome in my blog! I'd like you to write something about my work and projects!</p>
</section>
<%- include("footer") -%>