<%- include("header") -%>
<%- include("navbar") -%>
<section class="sections">
    <h1>Add blog</h1>
    <form action="/compose" method="POST">
        <input type="text" name="author" placeholder="Name and surname" autocomplete="off">
        <% if(!isAuthor) { %>
            <div class="error">Field name and surname can't be empty!</div>
        <% } %>
        <input type="text" name="title" placeholder="Title of your blog..." autocomplete="off">
        <% if(!isTitle) { %>
            <div class="error">Field title can't be empty!</div>
        <% } %>
        <textarea name="content" placeholder="Content of your blog..." autocomplete="off"></textarea>
        <% if(!isContent) { %>
            <div class="error">Field content can't be empty!</div>
        <% } %>
        <button type="submit">+</button>
    </form>
</section>
<%- include("footer") -%>