<%- include("header") -%>
<%- include("navbar") -%>
<section class="sections">
    <h1>Error 404: Not found!</h1>
    <p>Something went wrong my dear friend! :C Try again!</p>
</section>
<%- include("footer") -%>